@use 'core/styles/base';
@use 'core/styles/variables';
@use 'core/styles/grid';

.k-table-md {
  font-size: variables.$font-size-sm;
}

.k-grid .k-column-title {
  white-space: normal;
}

.k-grid-header {
  letter-spacing: unset;
}

.k-grid .k-grid-header .k-table-th {
  justify-content: center;
  border: 1px solid variables.$bg-1;
}

.k-grid .k-table-td {
  border: 1px solid variables.$bg-1;
}

.success {
  color: variables.$success;
}

.error {
  color: variables.$error-alt;
}

.warning {
  color: variables.$warning;
}