<kendo-grid scrollable="none" [kendoGridBinding]="gridData">
  <kendo-grid-column field="machines" title="Machines"></kendo-grid-column>
  <kendo-grid-column field="overall" title="OVERALL">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span [ngClass]="formatClassColor(dataItem.overall)">{{ formatValue(dataItem.overall) }}</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column-group *ngFor="let group of gridColGroups" [title]="group.title">
    <kendo-grid-column *ngFor="let col of group.columns" [field]="col.field" [title]="col.title">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span [ngClass]="formatClassColor(dataItem[col.field])">{{ formatValue(dataItem[col.field]) }}</span>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid-column-group>
</kendo-grid>
