<div class="chart-wrapper p-3">
  <h2>{{ title }}</h2>
  <kendo-chart>
    <kendo-chart-axis-defaults [majorGridLines]="{ visible: false }"> </kendo-chart-axis-defaults>
    <kendo-chart-area [background]="chartConfig.backgroundColor"></kendo-chart-area>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item
        [categories]="chartData ? chartData.categories : []"
        [axisCrossingValue]="crossingValues">
        <kendo-chart-category-axis-item-labels [color]="chartConfig.color"></kendo-chart-category-axis-item-labels>
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-value-axis>
      <kendo-chart-value-axis-item
        name="series1"
        [title]="{ text: 'Consumption Intensity (KWh/pc)', color: chartConfig.color }">
        <kendo-chart-value-axis-item-labels [color]="chartConfig.color"> </kendo-chart-value-axis-item-labels>
      </kendo-chart-value-axis-item>
      <kendo-chart-value-axis-item name="series2" [title]="{ text: 'Amount (KW/h)', color: chartConfig.color }">
        <kendo-chart-value-axis-item-labels [color]="chartConfig.color"> </kendo-chart-value-axis-item-labels>
      </kendo-chart-value-axis-item>
    </kendo-chart-value-axis>
    <kendo-chart-series>
      <kendo-chart-series-item type="column" [data]="chartData ? chartData.series1 : []" axis="series1" field="yValue">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="line" axis="series2" [data]="chartData ? chartData.series2 : []">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>
