@use 'core/styles/base';
@use 'core/styles/variables';

h4 {
  letter-spacing: variables.$letter-spacing-reg;
}

.flp-wrapper {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 95%;
}

.level-one__img {
  object-fit: cover;
  width: 100%;

  &.umf {
    width: 70%;
  }
}

.level-two {
  position: absolute;
  top: 10%;
  width: 20%;
  height: 20%;
}

.level-two__img {
  width: 100%;
  height: 100%;
}

.machine-tag-container {
  position: absolute;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: variables.$border-radius-3;
}

.success {
  background-color: variables.$success;
}

.error {
  background-color: variables.$error-alt;
}

.warning {
  background-color: variables.$warning;
}

.neutral {
  background-color: variables.$gray-800;
}
