<div class="flp-wrapper">
  <div *ngIf="factory === Factory.MODEL_FACTORY">
    <div>
      <img [src]="mfLevelOne" alt="mf-level-one" class="level-one__img" />
      <h4>LEVEL 1</h4>
    </div>
    <div class="level-two">
      <img [src]="mfLevelTwo" alt="mf-level-two" class="level-two__img" />
      <h4>LEVEL 2</h4>
    </div>
  </div>
  <div *ngIf="factory === Factory.MICRO_FACTORY" class="text-center">
    <img [src]="umfLevelOne" class="level-one__img umf" alt="umf-level-one" />
  </div>
  <div *ngFor="let item of data">
    <div
      aria-hidden="true"
      (click)="onSelectMachine(item)"
      class="machine-tag-container p-2 d-flex align-items-center justify-content-center"
      [ngClass]="resolveMachineBgColor(item)"
      [ngStyle]="resolveMachineStyle(item)">
      {{ item.id }}
    </div>
  </div>
</div>
