@use 'core/styles/variables';

/* 
  Width is specified for sidebar as layer-one-scaffold grid is set to auto auto. 
  However, sidebar can either be placed on left or right side.
*/

.sidebar {
  writing-mode: vertical-rl;
  color: variables.$light;
  font-size: variables.$font-size-xxxl;
  text-align: center;
  font-weight: 700;
  letter-spacing: 5px;
}

.umf {
  background-color: variables.$bg-7;
}

.mf {
  background-color: var(--ribbon);
}
