@use 'core/styles/base';
@use 'core/styles/variables';

h4 {
  letter-spacing: variables.$letter-spacing-sm;
}

.pc-wrapper {
  border-radius: variables.$border-radius-1;
  background-color: variables.$success;
  box-sizing: border-box;
}

.late {
  background-color: variables.$error;
}

.header {
  font-size: variables.$font-size-xl;
  font-weight: bold;
}

.icon {
  font-size: variables.$font-size-h3;
}

.text {
  font-size: variables.$font-size-xs;
  letter-spacing: variables.$letter-spacing-sm;
}