@use 'core/styles/base';
@use 'core/styles/variables';

.pc-wrapper {
  border-radius: variables.$border-radius-1;
  background-color: variables.$success;
}

.late {
  background-color: variables.$error;
}

.text {
  border-radius: variables.$border-radius-2;
  background-color: variables.$component-alt-bg;
  font-weight: bold;
}

.date {
  background-color: variables.$light;
  color: variables.$dark;
}

.icon {
  width: 2.5rem;
  height: 2rem;
}

.space-filled {
  flex-grow: 1;
}