@use 'variables';

/*
  You can add global styles to this file, and also import other style files.
  However, as best practice, to avoid using global styles that are globally applied;
  instead, use global styles that are locally applied with mixins.
*/

@font-face {
  font-family: 'Proxima Nova';
  src:
    local('Proxima Nova'),
    url('../../../assets/fonts/ProximaNova.otf') format('opentype');
  font-weight: 500;
}

@mixin container {
  padding: 1.5rem;
  color: variables.$light;
}

@mixin layer-one-scaffold {
  display: grid;
  grid-template-rows: 6rem auto;
  grid-template-columns: auto auto; 
}

@mixin layer-two-scaffold {
  display: grid;
  grid-template-rows: 6rem auto; 
}

.flex-spacer {
  flex: 1 0 auto;
}

.spacer {
  height: 1rem;
}

.spinner {
  font-size: 4rem;
}

.screen-center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dialog-notification__anchor {
  position: fixed;
  width: 100vw;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.stepper__step--deactivated {
  display: none;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-basis: 80%;
}

.align-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.align-horizontal-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}