// Typography.
$font-size-xxs: 0.65rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-reg: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.75rem;
$font-size-xxl: 2rem;
$font-size-xxxl: 2.5rem;
$font-size-h1: 1.75rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1rem;
$font-size-h5: 0.75rem;
$font-size-h6: 0.5rem;

$letter-spacing-sm: 0.1rem;
$letter-spacing-reg: 0.2rem;
$letter-spacing-lg: 0.3rem;

// Colors.
$gray-100: #ffffff;
$gray-200: #f8f8fd;
$gray-300: #f0f1fa;
$gray-400: #e1e1e8;
$gray-500: #cbcbd6;
$gray-600: #9191a1;
$gray-700: #676775;
$gray-800: #393947;
$gray-900: #000000;
$white: #FFFFFF;
$black: #000000;
$cyan: #93F7FF;

$bg-1: #04162C;
$bg-2: #002135; 
$bg-3: #002540;
$bg-4: #303E50;
$bg-5: #003358;
$bg-6: #1E3552;
$primary: #1262d8;
$secondary: $gray-300; 
$tertiary: #338183;
$quaternary: #8B8B8B;
$info: #5965e7;
$success: #21d794;
$warning: #fab95c;
$error: #7E3644;
$error-alt: #F24D4D;
$dark: #000000;
$light: #ffffff;
$border: #93F7FF;

// Graphs.
$series-a: $primary;
$series-b: $info;
$series-c: #4eb89b;
$series-d: #ff7562;
$series-e: #c267ff;
$series-f: $warning;

// Screen sizes.
$device-ios: 320px;
$device-android: 481px;
$device-tablet: 601px;
$device-laptop: 769px;
$device-desktop: 1025px;

// Utilities.
$border-radius-0: 0.5rem; // Outer.
$border-radius-1: 0.75rem; // Inner.
$border-radius-2: 0.25rem; // Nested inner.