@use 'core/styles/variables';

.card {
  color: variables.$light;
  background-color: variables.$bg-3;
  border-radius: variables.$border-radius-1;
}

.card__header {
  font-weight: bold;
  color: variables.$light;
  font-size: variables.$font-size-reg;
  padding: unset;
}

.card__body {
  border-radius: variables.$border-radius-1;
  background-color: variables.$bg-3;
  padding: unset;
  color: variables.$cyan;
  font-size: variables.$font-size-lg;
}
