@use 'core/styles/base';
@use 'core/styles/variables';

/*
  Override default CSS for Kendo-grid.
  Ensure viewEncapsulation is None. 
*/

.k-grid {
  border: unset;
}

.k-grid table {
  table-layout: fixed;
}

.k-grid-header {
  background-color: variables.$bg-2;
  color: variables.$gray-500;
  letter-spacing: variables.$letter-spacing-sm;
}

.k-master-row  {
  background-color: variables.$bg-2;
  color: variables.$gray-300;
}

.k-table-md {
  font-size: variables.$font-size-lg;
}

.k-grid .k-table-row.k-table-alt-row {
  background-color: variables.$bg-6;
}

.k-grid tr:hover {
  color: inherit;
}

.k-grid .k-table-td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}