@use 'core/styles/variables';

$width: 5rem;

h3 {
  letter-spacing: variables.$letter-spacing-sm;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
}

.pt-wrapper {
  background-color: variables.$bg-3;
  border-radius: variables.$border-radius-1;
  flex-grow: 1;
  box-sizing: border-box;
}

.icon {
  font-size: variables.$font-size-h2;
}

.hexagon-wrapper {
  background-color: variables.$bg-6;
  box-sizing: border-box;
  border-radius: variables.$border-radius-2;
}

.grid-container {
  position: relative;
}

@mixin hexagon {
  font-size: variables.$font-size-xs;
  text-align: center;
  width: $width;
  height: $width;
  display: inline-block;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  box-sizing: border-box;
  // margin: $margin;
  // margin-top: calc($margin / 2 * -1);
  // margin-right: calc($margin - $width * 0.2886);
}

.hexagon {
  @include hexagon;
  background-color: variables.$white;
}

.hexagon__inner {
  transform: scale(0.9);
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  background-color: variables.$bg-3;
}

.grid-col:nth-child(odd) {
  margin-top: calc($width / 2);
}

.hidden {
  transition: all 1s ease-out;
  visibility: hidden;
}

.disabled {
  transition: all 0.5s ease-out;
  background-color: #e0e0e0 !important;
}

.selected {
  transition: all 0.5s ease-out;
  background-color: variables.$cyan !important;
}

.ongoing {
  transition: all 0.5s ease-out;
  background-color: #f7c394 !important; // ddefef
  color: #002540;
}

.completed {
  transition: all 0.5s ease-out;
  background-color: variables.$gray-700 !important;
}

.hexagon-legend {
  @include hexagon;
  width: 1.5rem;
  height: 1.5rem;
  background-color: variables.$white;
}

.hexagon-legend__inner {
  transform: scale(0.75);
  background-color: variables.$bg-3;
}

.text {
  color: variables.$cyan;
  font-size: variables.$font-size-xl;
  font-weight: bold;
}
