@use 'core/styles/variables';

app-progress {
  grid-row: 1 / span 2;
  grid-column: 1;
}

app-projected-completion {
  grid-row: 1;
  grid-column: 4;
}

app-line-items {
  grid-row: 1 / span 2;
  grid-column: 3;
}

h2 {
  letter-spacing: variables.$letter-spacing-sm;
}

#salesOrder {
  grid-row: 1;
  grid-column: 2;
  
}

#customer {
  grid-row: 2;
  grid-column: 2;
}

#alerts {
  grid-row: 2;
}

.sod-wrapper {
  border-radius: variables.$border-radius-0;
  background-color: variables.$bg-2;
}

.sod-content-scaffold {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
