@use 'core/styles/base';
@use 'core/styles/variables';

.pt-2-scaffold {
  @include base.layer-two-scaffold;
}

.pt-2-wrapper {
  @include base.container;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid variables.$white;
  border-radius: 0.2rem;
  background-color: #001628;
}
