.container {
  display: flex;
  height: 100%;
  padding: 3rem;
}
.sidebar {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.sidebar-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-bottom: 0.7rem;
  width: 40px;
  height: 130px;
  background-color: var(--secondary);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
.sidebar-text.active {
  background-color: var(--secondary); /* Change to the desired active color */
  color: white; /* Change to the desired active text color */
}
.sidebar-text.inactive {
  background-color: var(--tertiary);
  color: white;
}
// .sidebar-text:focus {
//   outline: 1px solid grey; /* Custom focus outline for accessibility */
// }

.main-content {
  flex-grow: 1;
  display: flex;
  height: 80vh;
}
.past-day {
  background-color: var(--secondary);
  padding: 2rem;
  flex: 0.5;
}
.past-week {
  background-color: var(--secondary);
  padding: 2rem;
  position: relative;
  flex: 0.5;
  margin-right: 20px;
}
.past-week::before {
  content: '';
  position: absolute;
  top: 5%;
  left: 0;
  height: 90%;
  width: 5px;
  background-color: #04162c;
}
.section-title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.issue-card {
  background-color: var(--tertiary);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.issue-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.issue-details {
  flex-grow: 1;
}
.issue-title {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.issue-subtitle {
  font-size: 12px;
  color: white;
}
.check-icon {
  color: #4caf50;
  margin-left: 10px;
}
.details-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.details-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  background-color: var(--secondary);
}
