<kendo-tabstrip class="k-tabstrip-left">
  <kendo-tabstrip-tab title="Tab 1">
    <ng-template kendoTabContent>
      <h2>Content 1</h2>
      <p>Details of Tab 1</p>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="Tab 2">
    <ng-template kendoTabContent>
      <h2>Content 2</h2>
      <p>Details of Tab 2</p>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="Tab 3">
    <ng-template kendoTabContent>
      <h2>Content 3</h2>
      <p>Details of Tab 3</p>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
