<div class="k-grid k-table k-grid-header k-table-md p-2 justify-content-center">
  {{ title.toUpperCase() }}
</div>
<kendo-grid scrollable="none" [kendoGridBinding]="data">
  <kendo-grid-column
    *ngFor="let column of gridCols"
    field="{{ column.field }}"
    title="{{ column.title }}"
    [width]="formatWidth(column.width)">
    <ng-template *ngIf="column.icon" kendoGridCellTemplate let-dataItem>
      <fa-icon
        class="machine-icon"
        [icon]="resolveIcon(dataItem[column.field], column.icon)"
        [ngClass]="resolveStatus(dataItem[column.field])"></fa-icon>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
