@use 'core/styles/base';
@use 'core/styles/variables';
@use 'core/styles/grid';

.k-grid .k-header {
  display: none;
}

.k-grid {
  font-size: variables.$font-size-reg;
  letter-spacing: variables.$letter-spacing-sm;
}

.k-grid .k-table-td {
  padding: 0.2rem;
  padding-left: 0.5rem;
}

.k-table-md {
  font-size: variables.$font-size-reg;
}

.machine-icon {
  font-size: variables.$font-size-reg;
}

.icon-success {
  color: variables.$success;
}

.icon-error {
  color: variables.$error-alt;
}

.icon-warning {
  color: variables.$warning;
}

.icon-neutral {
  color: variables.$white;
}