<app-ui-blocker *ngIf="isLoading"></app-ui-blocker>
<div class="rt-1-scaffold">
  <app-sidebar header="SHOPFLOOR" rotate="LEFT"></app-sidebar>
  <app-navbar header="Resource Tracking"></app-navbar>
  <div class="rt-1-wrapper d-grid gap-5">
    <div>
      <div *ngFor="let item of machinesData" class="mb-3">
        <app-custom-table [title]="item.title" [data]="item.data"></app-custom-table>
      </div>
    </div>
    <app-factory-layout-plan [factory]="factory" [data]="machinesStatus"></app-factory-layout-plan>
  </div>
</div>
