<app-ui-blocker *ngIf="isLoading"></app-ui-blocker>
<div class="rt-1-scaffold">
  <app-sidebar header="SHOPFLOOR" rotate="LEFT"></app-sidebar>
  <div>
    <app-navbar header="Resource Tracking"></app-navbar>
    <div class="rt-1-wrapper d-grid gap-4">
      <div class="d-flex flex-column gap-3 align-items-center justify-content-center h-100">
        <div *ngFor="let item of machinesData">
          <app-custom-table [title]="item.title" [data]="item.data"></app-custom-table>
        </div>
      </div>
      <app-factory-layout-plan [data]="machinesStatus"></app-factory-layout-plan>
    </div>
  </div>
</div>
