<div class="d-flex flex-column nav-wrapper justify-content-center pb-4 align-vertical-center">
  <h4>PRODUCTS</h4>
  <kendo-scrollview
    class="scroll-view"
    [data]="products"
    [pageable]="true"
    [arrows]="true"
    [endless]="false"
    [(activeIndex)]="activeProductIndex"
    (itemChanged)="onChangeProduct($event)">
    <ng-template let-item="item">
      <div class="scroll-item text--ellipsis">
        <strong> {{ item?.name?.toUpperCase() }}</strong>
      </div>
    </ng-template>
  </kendo-scrollview>

  <h4>PROCESSES</h4>
  <kendo-scrollview
    class="scroll-view"
    [data]="processes"
    [pageable]="true"
    [arrows]="true"
    [endless]="false"
    [(activeIndex)]="activeProcessIndex"
    (itemChanged)="onChangeProcess($event)">
    <ng-template let-item="item">
      <div class="scroll-item text--ellipsis">
        <strong>{{ item && String(item).toUpperCase() }}</strong>
      </div>
    </ng-template>
  </kendo-scrollview>
</div>
