@use 'core/styles/base';
@use 'core/styles/variables';

$height: 4.5rem;

.nav-wrapper {
  border-radius: variables.$border-radius-0;
  border: 0.25rem solid rgb(18, 199, 209);
  text-align: center;
}

.scroll-view {
  border: unset;
  border-radius: variables.$border-radius-1;
  background-color: #324C64;
  color: variables.$light;
  height: $height;
  width: 90%;
  margin: auto;
}

.scroll-item {
  margin: auto;
  text-align: center;
  width: 60%;
  height: $height;
  line-height: $height;
}