@use 'core/styles/base';
@use 'core/styles/variables';

.nav-wrapper {
  border-radius: 1rem;
  border: 0.25rem solid rgb(18, 199, 209);
  text-align: center;
}

.scroll-view {
  border: unset;
  border-radius: 0.5rem;
  background-color: #324C64;
  color: variables.$light;
  height: 7rem;
  width: 90%;
  margin: auto;
  font-size: variables.$font-size-reg;
}

.scroll-item {
  margin: auto;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60%;
  height: 7rem;
  line-height: 7rem;
}