@use 'core/styles/base';
@use 'core/styles/variables';
@use 'core/styles/grid';

h2 {
  letter-spacing: variables.$letter-spacing-reg;
}

.header {
  font-size: variables.$font-size-lg;
}

.k-table-md {
  font-size: variables.$font-size-xs;
}

.rc-wrapper {
  border-radius: variables.$border-radius-0;
  background-color: variables.$bg-2;
}

.bar-chart {
  background-color: unset;
}

.gauge-container {
  height: 100%;
  min-width: 12rem;
}