@use 'core/styles/base';
@use 'core/styles/variables';

.gauge-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box {
  box-sizing: border-box;
  border: 0.2rem solid variables.$gray-700;
}