@use 'core/styles/variables';

.k-appbar .k-picker {
  // For dropdown display.
  width: 10rem;
}

.navbar {
  box-shadow: none;
  color: variables.$light;
  position: relative;
}

.img__tiles {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.navbar-header {
  font-size: variables.$font-size-xxxl;
  letter-spacing: variables.$letter-spacing-reg;
  font-weight: bold;
}


.dropdown-wrapper {
  border: 1px solid variables.$white;
  border-radius: unset;
}