<kendo-appbar position="top" themeColor="inherit" class="navbar p-5 pt-4 pb-0">
  <div class="navbar-header">{{ header.toUpperCase() }}</div>
  <kendo-appbar-spacer></kendo-appbar-spacer>
  <div *ngIf="dropdownThree && dropdownThree.length > 0" class="dropdown-wrapper d-flex align-items-center me-3 p-2">
    <kendo-label class="me-3" [text]="dropdownThreeLabel?.toUpperCase() + ':'"></kendo-label>
    <kendo-dropdownlist
      appDropdown
      (valueChange)="onChangeDropdownThree($event)"
      [data]="dropdownThree"
      textField="text"
      valueField="value"
      [(ngModel)]="dropdownThreeValue"></kendo-dropdownlist>
  </div>
  <div *ngIf="dropdownTwo && dropdownTwo.length > 0" class="dropdown-wrapper d-flex align-items-center me-3 p-2">
    <kendo-label class="me-3" [text]="dropdownTwoLabel?.toUpperCase() + ':'"></kendo-label>
    <kendo-dropdownlist
      appDropdown
      (valueChange)="onChangeDropdownTwo($event)"
      [data]="dropdownTwo"
      textField="text"
      valueField="value"
      [(ngModel)]="dropdownTwoValue"></kendo-dropdownlist>
  </div>
  <div *ngIf="dropdownOne && dropdownOne.length > 0" class="dropdown-wrapper d-flex align-items-center me-3 p-2">
    <kendo-label class="me-3" [text]="dropdownOneLabel?.toUpperCase() + ':'"></kendo-label>
    <kendo-dropdownlist
      appDropdown
      (valueChange)="onChangeDropdownOne($event)"
      [data]="dropdownOne"
      textField="text"
      valueField="value"
      [(ngModel)]="dropdownOneValue"></kendo-dropdownlist>
  </div>
  <img (click)="onOpenNavMenu()" class="img__tiles" [src]="tiles" alt="tiles" aria-hidden="true" />
</kendo-appbar>
