@use 'core/styles/base';
@use 'core/styles/variables';

.card {
  background: #002540;
  border-radius: variables.$border-radius-1;
  box-sizing: border-box;
  width: 100%;

  .card-meta-wrapper {
    justify-content: space-between;
  }

  .card-title {
    font-size: variables.$font-size-xl;
    text-transform: uppercase;
    letter-spacing: variables.$letter-spacing-sm;
    font-weight: bold;
  }

  .card-tag {
    color: #809fb8;
    background-color: #384455;
    border-radius: 2rem;
    font-size: variables.$font-size-regplus;
  }

  .card-period {
    font-size: variables.$font-size-regplus;
  }
}

h2 {
  letter-spacing: variables.$letter-spacing-reg;
}

.profile-chart-wrapper {
  background-color: variables.$bg-2;
  position: relative;
}

.alert {
  position: absolute;
  left: 40%;
  top: 20%;
}

.alert-wrapper {
  color: variables.$white;
}

.text-wrapper {
  background-color: #001628;
  font-size: variables.$font-size-sm;
}

.icon {
  font-size: variables.$font-size-xxl;
  color: variables.$error;
}
