<div class="card p-3 m-auto">
    <div class="card-meta-wrapper d-flex justify-content-space-between">
      <span class="card-title">{{ title }}</span>
      <div class="card-tag px-4 py-2 d-flex flex-column justify-content-center">combined</div>
    </div>
    <div class="card-period pb-3">{{ subtitle }}</div>

    <div class="profile-chart-wrapper p-3">
        <kendo-chart>
          <kendo-chart-legend [spacing]="25" position="bottom" orientation="horizontal">
            <kendo-chart-legend-item [visual]="labelsVisual"></kendo-chart-legend-item>
          </kendo-chart-legend>
          <kendo-chart-axis-defaults [majorGridLines]="majorGridLines"> </kendo-chart-axis-defaults>
          <kendo-chart-area [height]="280" [background]="chartConfig.backgroundColor"></kendo-chart-area>
          <!-- <kendo-chart-title align="left" text="POWER LOAD PROFILE (kW)" [color]="chartConfig.color"></kendo-chart-title> -->
          <kendo-chart-category-axis>
            <kendo-chart-category-axis-item baseUnit="weeks">
              <kendo-chart-category-axis-item-labels
                format="dd/MM"
                [font]="chartConfig.fontSize"
                [color]="chartConfig.color"></kendo-chart-category-axis-item-labels>
            </kendo-chart-category-axis-item>
          </kendo-chart-category-axis>
          <kendo-chart-value-axis>
            <kendo-chart-value-axis-item>
              <kendo-chart-value-axis-item-labels [font]="chartConfig.fontSize" [color]="chartConfig.color">
              </kendo-chart-value-axis-item-labels>
            </kendo-chart-value-axis-item>
          </kendo-chart-value-axis>
          <kendo-chart-series>
            <kendo-chart-series-item
              type="line"
              [markers]="{ visible: false }"
              [color]="seriesColor"
              [data]="data.pastForecast || []"
              field="demand"
              name="Past Forecast"
              categoryField="createdDate">
            </kendo-chart-series-item>
            <kendo-chart-series-item
              type="line"
              dashType="dash"
              [markers]="{ visible: false }"
              [color]="seriesColor"
              [data]="data.futureForecast || []"
              field="demand"
              name="Future Forecast"
              categoryField="createdDate">
            </kendo-chart-series-item>
            <kendo-chart-series-item
              type="area"
              [opacity]="0.3"
              missingValues="interpolate"
              [markers]="{ visible: false }"
              [color]="seriesColor"
              [data]="data.actual || []"
              field="demand"
              name="Actual"
              categoryField="createdDate">
            </kendo-chart-series-item>
          </kendo-chart-series>
        </kendo-chart>
        <!-- <app-alert *ngIf="alert" class="alert" [content]="alert"></app-alert> -->

        <div class="alert alert-wrapper d-flex align-items-center">
            <fa-icon class="icon" [icon]="alertIcon"></fa-icon>
            <div class="text-wrapper p-1 ms-2">
              {{ alertContent }}
            </div>
        </div>

      </div>
      
  </div>