@use 'core/styles/base';
@use 'core/styles/variables';

.card {
  background: var(--secondary);
  border-radius: variables.$border-radius-1;
  width: 100%;
  box-sizing: border-box;
  height: 100%;

  .card-meta-wrapper {
    justify-content: space-between;
  }

  .card-title {
    font-size: variables.$font-size-xl;
    letter-spacing: variables.$letter-spacing-sm;
    font-weight: bold;
  }

  .card-tag {
    color: #809fb8;
    background-color: #384455;
    border-radius: 2rem;
    font-size: variables.$font-size-regplus;
  }

  .card-period {
    font-size: variables.$font-size-regplus;
    text-transform: uppercase;
  }
}

.bar-wrapper {
  padding-bottom: 3.5rem;
}

.bar-title {
  width: 15rem;
  font-size: variables.$font-size-reg;
}
