@use 'core/styles/variables';

h4 {
  letter-spacing: variables.$letter-spacing-sm;
}

.progress-wrapper {
  background-color: variables.$bg-3;
  border-radius: variables.$border-radius-1;
  flex-grow: 1;
}

.icon {
  font-size: variables.$font-size-h3;
}

.text {
  font-size: variables.$font-size-xl;
  font-weight: bold;
}