@use 'core/styles/base';
@use 'core/styles/variables';
@use 'core/styles/grid';

.k-grid .k-table-td {
  font-size: variables.$font-size-xl;
  letter-spacing: variables.$letter-spacing-sm;
}

.k-grid-header {
  font-size: variables.$font-size-xl;
  font-weight: bold;
}

app-sidebar {
  grid-row: 1 / span 2;
}

.pt-1-scaffold {
  @include base.layer-one-left-scaffold;
}

.pt-1-wrapper {
  @include base.container;
  grid-template-rows: repeat(2, 1fr);
}

.img {
  width: 1rem;
  height: 1rem;
}