<app-ui-blocker *ngIf="isLoading"></app-ui-blocker>
<div class="pt-1-scaffold">
  <app-sidebar header="ENTERPRISE" rotate="LEFT"></app-sidebar>
  <div>
    <app-navbar header="Production Tracking"></app-navbar>
    <div class="pt-1-wrapper d-grid gap-5">
      <kendo-grid scrollable="none" [kendoGridBinding]="salesOrderData" class="h-100">
        <kendo-grid-column
          *ngFor="let column of salesOrderCols"
          field="{{ column.field }}"
          title="{{ column.title.toUpperCase() }}"
          [width]="getWidth(column.width)"></kendo-grid-column>
        <kendo-grid-column field="status" title="STATUS" [width]="250">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-flex align-items-center">
              <div>{{ dataItem.progress }}</div>
              <div class="flex-spacer"></div>
              <app-circle-status [status]="dataItem.isLate ? 'ERROR' : 'SUCCESS'" class="me-5"></app-circle-status>
            </div>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
      <kendo-grid class="mt-5" scrollable="none" [kendoGridBinding]="workOrderData" class="h-100">
        <kendo-grid-column
          *ngFor="let column of workOrderCols"
          field="{{ column.field }}"
          title="{{ column.title.toUpperCase() }}"
          [width]="getWidth(column.width)"></kendo-grid-column>
        <kendo-grid-column field="status" title="STATUS" [width]="250">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-flex align-items-center">
              <div>{{ dataItem.progress }}</div>
              <div class="flex-spacer"></div>
              <app-circle-status [status]="dataItem.isLate ? 'ERROR' : 'SUCCESS'" class="me-5"></app-circle-status>
            </div>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>
