@use 'core/styles/base';
@use 'core/styles/variables';
@use 'core/styles/grid';

.chart-container {
  background: #0a233f;
  padding-top: 3rem;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
}

kendo-chart {
  height: 170px; /* Adjust height to match the target design */
}

.label {
  font-size: 12px;
  color: #fff;
}

.card {
  background: #002540;
  border-radius: variables.$border-radius-1;
  width: 100%;
  box-sizing: border-box;

  .card-percentage {
    width: 150px;
    padding: 1rem;
    border-radius: 0.1rem;
    color: #7fea8a;
    background-color: #04162c;
    text-align: right;
    margin-top: 1rem;
  }
  .card-meta-wrapper {
    justify-content: space-between;
  }

  .card-title {
    font-size: variables.$font-size-xl;
    text-transform: uppercase;
    letter-spacing: variables.$letter-spacing-sm;
    font-weight: bold;
  }

  .card-tag {
    color: #809fb8;
    background-color: #384455;
    border-radius: 2rem;
    font-size: variables.$font-size-regplus;
  }

  .card-period {
    font-size: variables.$font-size-regplus;
  }
}
