@use 'core/styles/base';
@use 'core/styles/variables';

app-sidebar {
  grid-column: 2;
  grid-row: 1 / span 2;
}

h1, h2 {
  letter-spacing: variables.$letter-spacing-reg;
}

.pi-1-scaffold {
  @include base.layer-one-right-scaffold;
}

.pi-1-wrapper {
  @include base.container;
  grid-template-columns: repeat(2, 1fr);
}

.overall-container {
  background-color: variables.$bg-2;
}