<div class="pp-wrapper d-grid gap-3 p-3">
  <kendo-circularprogressbar
    class="align-horizontal-center"
    [animation]="true"
    [style]="progressStyle"
    [progressColor]="progressColors"
    [value]="data?.pastPeriod || 0">
    <ng-template kendoCircularProgressbarCenterTemplate let-color="color" let-value="value">
      <div class="text text-center w-100" [style.color]="color">{{ formatText('PAST', data?.pastPeriod) }}</div>
    </ng-template>
  </kendo-circularprogressbar>
  <kendo-circularprogressbar
    class="align-horizontal-center"
    [animation]="true"
    [style]="progressStyle"
    [progressColor]="progressColors"
    [value]="data?.currentPeriod || 0">
    <ng-template kendoCircularProgressbarCenterTemplate let-color="color" let-value="value">
      <div class="text text-center" [style.color]="color">{{ formatText('CURRENT', data?.currentPeriod) }}</div>
    </ng-template>
  </kendo-circularprogressbar>
  <kendo-circularprogressbar
    class="align-horizontal-center"
    [animation]="true"
    [style]="progressStyle"
    [progressColor]="progressColors"
    [value]="data?.projectedPeriod || 0">
    <ng-template kendoCircularProgressbarCenterTemplate let-color="color" let-value="value">
      <div class="text text-center" [style.color]="color">{{ formatText('PROJECTED', data?.projectedPeriod) }}</div>
    </ng-template>
  </kendo-circularprogressbar>
</div>
