<kendo-card class="card h-100 w-100 ps-3 pe-3 pb-3">
  <kendo-card-header class="card__header d-flex align-items-center">
    <fa-icon class="icon me-2" [icon]="faBars"></fa-icon>
    <h4>LINE ITEMS</h4>
    <div class="flex-spacer"></div>
    <h4>QUANTITY</h4>
  </kendo-card-header>
  <kendo-card-body class="card__body">
    <div class="d-flex" *ngFor="let item of data">
      <div class="truncate me-3">
        <strong>{{ item.productName }}</strong>
      </div>
      <div class="flex-spacer"></div>
      <div class="text__quantity">
        <strong>X {{ item.quantity }}</strong>
      </div>
    </div>
  </kendo-card-body>
</kendo-card>
