@use 'core/styles/base';
@use 'core/styles/variables';
@use 'core/styles/card';

kendo-card {
  overflow-y: auto;
}

h3 {
  letter-spacing: variables.$letter-spacing-sm;
}

.icon {
  font-size: variables.$font-size-h2;
}

.text__quantity {
  width: 30%;
  text-align: right;
}