<div class="card p-3 m-auto">
  <span class="card-title">{{ item.Category }}</span
  ><br />
  <span class="card-figure">
    <ng-container *ngIf="isVolumeRelated(item); else nonVolumeRelated">
      {{ item.Value | currency: '' : '' : '1.0-0' }}
    </ng-container>
    <ng-template #nonVolumeRelated>{{ item.Value }}</ng-template>
    <span class="ms-3 card-title">({{ getUnits(item) }})</span>
  </span>
  <div class="projection-wrapper p-4 mt-5 d-flex">
    <div class="projection-chart">
      <img
        *ngIf="['Green', 'Red', 'Yellow'].includes(item.ProjectionHealth)"
        [src]="'assets/images/mk-thumbs/' + item.ProjectionHealth.toLowerCase() + '-thumb.png'"
        [alt]="item.ProjectionHealth"
        class="img-size" />
    </div>
    <div class="projection-details d-flex justify-content-between w-100">
      <div class="projection ms-3 d-flex flex-column justify-content-end">
        <span class="title">PROJECTION:</span>
        <span class="figure" [ngClass]="item.ProjectionHealth">
          {{ item.Projection }}{{ isVolumeRelated(item) ? 'K' : '' }}
        </span>
      </div>
      <div class="target d-flex flex-column justify-content-end">
        <span class="title">TARGET:</span>
        <span class="figure"> {{ item.Target }}{{ isVolumeRelated(item) ? 'K' : '' }} </span>
      </div>
    </div>
  </div>
</div>
