@use 'core/styles/variables';

app-process-tracking {
  grid-row: 1 / span 3;
  grid-column: 3 / span 2;
}

h2 {
  letter-spacing: variables.$letter-spacing-sm;
}

#product {
  grid-row: 1;
}

#workOrder {
  grid-row: 1;
}

.wod-wrapper {
  border-radius: variables.$border-radius-0;
  background-color: variables.$bg-2;
}

.wod-content-scaffold {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, 1fr);
}
