@use 'core/styles/base';
@use 'core/styles/variables';
@use 'core/styles/grid';

.chart-container {
  background: #0a233f;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto;
}

kendo-chart {
  height: 100px; /* Adjust height to match the target design */
}

.average {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0a233f;
  color: #4caf50;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 600px;
}

.label {
  font-size: 12px;
  color: #fff;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
}

.row {
  display: contents;
  border-bottom: 1px solid #fff;
}

.row:not(:last-child) .col {
  border-bottom: 1px solid #fff;
}

.col {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
//legends css
.legend-container {
  display: flex;
  align-items: center;
  background: #0a233f;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto;
}

.legend-colors {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.legend-color {
  width: 40px;
  height: 20px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.legend-color:last-child {
  margin-bottom: 0;
}

.legend-labels {
  display: flex;
  flex-direction: column;
}

.legend-label {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}

.legend-label:last-child {
  margin-bottom: 0;
}

.card {
  background: var(--secondary);
  border-radius: variables.$border-radius-1;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.card-percentage {
  width: 150px;
  padding: 0.2rem;
  border-radius: 0.1rem;
  color: #7fea8a;
  background-color: #04162c;
  text-align: right;
}

.card-meta-wrapper {
  justify-content: space-between;
}

.card-title {
  font-size: variables.$font-size-xl;
  //text-transform: uppercase;
  letter-spacing: variables.$letter-spacing-sm;
  font-weight: bold;
}

.card-tag {
  color: #809fb8;
  background-color: #384455;
  border-radius: 2rem;
  font-size: variables.$font-size-regplus;
}

.card-period {
  font-size: variables.$font-size-regplus;
}
