<div class="card p-3 m-auto">
  <div class="card-meta-wrapper d-flex justify-content-space-between">
    <span class="card-title">{{ title }}</span>
    <div class="card-tag px-4 py-2 d-flex flex-column justify-content-center">combined</div>
  </div>
  <div class="card-period pb-5">{{ subtitle }}</div>

    <div class="pt-1-wrapper d-grid gap-5">
        <kendo-grid scrollable="none" [kendoGridBinding]="supplierInventoryData" class="h-100" >
          <kendo-grid-column
            *ngFor="let column of supplierInventoryCols"
            field="{{ column.field }}"
            title="{{ column.title.toUpperCase() }}"
            [width]="getWidth(column.width)"
            [headerStyle]="setDefaultHeaderStyle()"
            [style]="setDefaultColumnStyle()"
            >
          </kendo-grid-column>
          <kendo-grid-column title="TURNOVER" [headerStyle]="setStatusHeaderStyle()" [style]="setStatusColumnStyle()">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div [style.color] = "dataItem.turnover.color">{{dataItem.turnover.value}}</div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column title="FILL RATE" [headerStyle]="setStatusHeaderStyle()" [style]="setStatusColumnStyle()">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div [style.color] = "dataItem.fillRate.color">{{dataItem.fillRate.value}}</div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column title="STOCKOUT" [headerStyle]="setStatusHeaderStyle()" [style]="setStatusColumnStyle()">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div [style.color] = "dataItem.stockout.color">{{dataItem.stockout.value}}</div>
            </ng-template>
          </kendo-grid-column>
    
    
          <!-- <kendo-grid-column field="status" title="STATUS" [width]="250">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="d-flex align-items-center">
                <div>{{ dataItem.progress }}</div>
                <div class="flex-spacer"></div>
                <app-circle-status [status]="dataItem.isLate ? 'ERROR' : 'SUCCESS'" class="me-5"></app-circle-status>
              </div>
            </ng-template>
          </kendo-grid-column> -->
    </kendo-grid>
  </div>
</div>
