<div #wrapper class="custom-scroll ps-3 pt-3 pe-3 h-100">
  <div class="header d-flex align-items-center">
    <fa-icon class="icon me-2" [icon]="icon"></fa-icon>
    <h4>{{ header.toUpperCase() }}</h4>
  </div>
  <kendo-scrollview
    class="scrollview-wrapper"
    [data]="data || ['Not Available']"
    [pageable]="true"
    [arrows]="true"
    [endless]="false"
    [(activeIndex)]="activeIndex"
    (itemChanged)="onChange($event)">
    <ng-template let-item="item">
      <div class="text truncate" [ngStyle]="getMarginOffset(wrapper)">
        {{ item.name }}
      </div>
    </ng-template>
  </kendo-scrollview>
</div>
