<app-ui-blocker *ngIf="isLoading"></app-ui-blocker>
<div class="dp-1-scaffold" *ngIf="!isOverlay">
  <div>
    <app-navbar header="Demand Profile"></app-navbar>
    <div class="dp-1-wrapper">
      <h1 class="header">DEMAND SPIKES AND PLUMMETS FOR ATTENTION</h1>
      <div class="profile-charts-container d-grid gap-4">
        <app-profile-chart
          alert="Spike detected: > 10000 pcs"
          title="DEMAND FOR ESCENTZ (PCS)"
          [data]="demandProfiles.eScentz"></app-profile-chart>
        <app-profile-chart
          alert="Spike detected: > 2000 pcs"
          title="DEMAND FOR MFCONNECT+ (PCS)"
          [data]="demandProfiles.mfConnectPlus"></app-profile-chart>
      </div>
    </div>
  </div>
  <app-sidebar header="SUPPLY CHAIN" rotate="RIGHT"></app-sidebar>
</div>
<div *ngIf="isOverlay" class="black-screen-overlay"></div>
