<app-ui-blocker *ngIf="isLoading"></app-ui-blocker>
<app-navbar header="Resource Tracking"></app-navbar>
<div class="rt-2-wrapper d-grid gap-5">
  <app-factory-layout-plan
    [factory]="factory"
    [data]="machinesStatus"
    (machine)="onChangeMachine($event)"></app-factory-layout-plan>
  <app-resource-consumption
    [metadata]="trackedMachine.metadata"
    [resourceData]="trackedMachine.resourceData"
    [alertHistoryData]="trackedMachine.alertHistoryData"></app-resource-consumption>
</div>
