<div class="orh-wrapper d-flex flex-column p-4 justify-content-center gap-5 h-100">
  <div class="header">{{ data.title.toUpperCase() }}</div>
  <kendo-circularprogressbar
    class="align-horizontal-center"
    style="width: 20rem; height: 20rem"
    [animation]="true"
    [progressColor]="progressColors"
    [value]="overall || 0">
    <ng-template kendoCircularProgressbarCenterTemplate let-color="color" let-value="value">
      <span class="text" [style.color]="color">{{ value }}%</span>
    </ng-template>
  </kendo-circularprogressbar>
  <h1 class="header text-center">OVERALL</h1>
  <kendo-grid scrollable="none" [kendoGridBinding]="data.categories">
    <kendo-grid-column field="name" title="Name">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{ formatCategoryName(dataItem.name) }}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="value" title="Value" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-end">
          {{ formatValue(dataItem.value) }}
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
