@use 'core/styles/base';
@use 'core/styles/variables';
@use 'core/styles/grid';

h1 {
  letter-spacing: variables.$letter-spacing-reg;
}

.k-grid .k-header {
  display: none;
}

.k-table-md {
  font-size: variables.$font-size-xxl;
}

.k-grid .k-table-td {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.orh-wrapper {
  background-color: variables.$bg-2;
  box-sizing: border-box;
}

.header {
  font-size: variables.$font-size-xxxl;
  letter-spacing: variables.$letter-spacing-reg;
  font-weight: bold;
}

.text {
  font-size: variables.$font-size-5xl;
  font-weight: bold;
}
