<div class="card p-3 m-auto">
    <div class="card-meta-wrapper d-flex justify-content-space-between">
      <span class="card-title">{{ title }}</span>
      <div class="card-tag px-4 py-2 d-flex flex-column justify-content-center">{{ tag }}</div>
    </div>
    <div class="card-period pb-5">{{ subtitle }}</div>
  
      <div class="pt-1-wrapper d-grid gap-5">
          <kendo-grid scrollable="none" [kendoGridBinding]="productionTrackingData" class="h-100" >
            <kendo-grid-column
              *ngFor="let column of productionTrackingCols"
              field="{{ column.field }}"
              title="{{ column.title.toUpperCase() }}"
              [width]="getWidth(column.width)"
              [headerStyle]="setDefaultHeaderStyle()"
              [style]="setDefaultColumnStyle()"
              >
            </kendo-grid-column>

            <kendo-grid-column field="status" title="" [width]="50" [headerStyle]="setStatusHeaderStyle()">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="d-flex align-items-center">
                  <app-circle-status [status]="dataItem.isLate.value ? 'ERROR' : 'SUCCESS'" class="me-5"></app-circle-status>
                </div>
              </ng-template>
            </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
  