<kendo-tilelayout
  #tileLayout
  class="nav-menu-wrapper p-5"
  [gap]="0"
  [columns]="columns"
  [reorderable]="true"
  (reorder)="onReorder($event)">
  <kendo-tilelayout-item
    class="tile-container p-3"
    *ngFor="let item of navItems; index as idx"
    [row]="item.row"
    [col]="item.col"
    [order]="idx"
    (dblclick)="onNavigateToLayer(idx, RoutePaths.LAYER_ONE)">
    <kendo-tilelayout-item-header class="tile-item">
      <fa-icon class="tile-item__icon" [icon]="item.icon"></fa-icon>
      <h3 draggable="true" class="tile-item__text">{{ item.name }}</h3>
    </kendo-tilelayout-item-header>
  </kendo-tilelayout-item>
  <kendo-tilelayout-item
    #dropzone
    class="tile-container"
    [row]="2"
    [col]="2"
    [reorderable]="false"
    [rowSpan]="2"
    [colSpan]="2"
    [order]="dropzoneOrder">
    <kendo-tilelayout-item-body>
      <div class="img-container w-100 h-100">
        <img class="img__map" [src]="factoryMap" alt="factory-map" />
        <img
          class="img__mf"
          [ngClass]="imgMf === currentFactory ? 'selected' : ''"
          [src]="imgMf"
          alt="factory-mf"
          (click)="onChangeSite(Factory.MODEL_FACTORY)"
          aria-hidden="true" />
        <img
          class="img__umf"
          [ngClass]="imgUmf === currentFactory ? 'selected' : ''"
          [src]="imgUmf"
          alt="factory-umf"
          (click)="onChangeSite(Factory.MICRO_FACTORY)"
          aria-hidden="true" />
      </div>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</kendo-tilelayout>
