@use 'core/styles/variables';

.k-window {
  background-color: variables.$bg-1;
  box-shadow: unset;
}

.k-layout-item-hint {
  border-radius: unset;
  background-color: unset;
  border: unset;
}

.dropzone-hint {
  background-color: #00dba3 !important;
  opacity: 0.7;
}

.nav-menu-wrapper {
  //grid-template-rows: repeat(3, 1fr);
  background-color: variables.$bg-1;
  max-width: 100vw;
  max-height: 100vh;
}

.tile-container {
  border: 0.1rem solid #00dba3;
  border-radius: unset;
  text-align: center;
  background-color: variables.$bg-1;
  height: 28vh;
}
.tile-container-favCritical {
  border: 0.1rem solid #00dba3;
  border-radius: unset;
  text-align: center;
  background-color: variables.$bg-1;
}

.tile-item {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  color: variables.$light;
}

.tile-item__text {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: variables.$font-size-xl;
  letter-spacing: variables.$letter-spacing-reg;
}

.tile-item__icon {
  font-size: variables.$font-size-xxl;
}

.img-container {
  position: relative;
  object-fit: contain;
}

.img__map {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@mixin factory {
  cursor: pointer;
  height: 2.5rem;
  width: 3rem;
  position: absolute;
}

.img__mf {
  @include factory;
  left: calc(50% - 20%);
  top: calc(50% - 10%);
}

.img__umf {
  @include factory;
  left: calc(50% - 10%);
  top: calc(50% + 15%);
}

.selected {
  height: 4.5rem;
  width: 5rem;
}
